{% extends './layout.html' %}
{% block styles %}
    <link rel="stylesheet" href="/styles/index.css">
{% endblock %}
{% block title %} 图书首页 {% endblock %}
{% block content %}
    <div>
        <table class="table table-bordered">
                {% for item in data %}
                <tr>
                    <td>[[item.name]]</td>
                    <td>[[item.author]]</td>
                </tr>
                {% endfor %}
        </table>
        
     <div>
     <div id="app-6">
         <h1>{{ message }}</h1>
         <input type="text" v-model="message">
     </div>
{% endblock %}

{% block scripts %}
    <script src="/scripts/index.js"></script>
{% endblock %}